extends admin

block details
            form(id='eye-test', action='/orders/res/kl', method='POST')
                input(type='text', style=" height: 40px; width:480px",name='dataone' )
                button.btn.btn-default(type='submit') Submit
            
        //-                         form.dev-form(action='/admin/cat/' + category.CategoryID + '/delete', method='POST')
        //-                             button.btn.btn-default(type='submit')
        //-                                 i.fa.fa-trash-o
        //-                                 = ' Delete'
        //- form(action='/admin/cat/add', method='GET')
        //-     button.btn.btn-default(type='submit')
        //-         i.fa.fa-plus
        //-         = ' Add new category'
        br
        br




