extends info
    h3 Payment Successfully
//- block details


    //- .table-responsive
    //-     table.table.table-condensed
    //-         thead
    //-             tr
    //-                 td #
    //-                 td Date
    //-                 td Status
    //-                 td Total
    //-                 td
