extends layout

block content
    section 
    section#introSection
            h2  The Rajhan Opticals
            
            p.small  We take care of your eyes!!!
   
    

    
    #contact-page.container
        .bg
            .row
                .col-sm-12
                    h2.title.text-center
                        | Contact
                        strong= ' Us'
            .row
                .col-sm-4
                    .contact-info
                        //- h2.title.text-center Address
                        img.location(src="/img/location.png", alt="")
                        address
                            h4 The Rajhan Opticals.
                            p Shop No:65, 30, 7th Ave, behind TNSC Bank, near Hotel Sangamam,
                            p Sarvamangala Colony, Manthope Colony, Ashok Nagar
                            p Chennai, Tamil Nadu 600083
                            br
                            br
                            br
                            br
                            h4 The Rajhan Opticals.
                            p 52, 7th Ave, Manthope Colony,
                            p  Ashok Nagar,
                            p Chennai, Tamil Nadu 600083
                            br
                            br
                            br
                            br
                            br
                            br
                            h4 The Rajhan Opticals.
                            p 15/9, 2nd Main Rd, Ram Nagar,  Chennai, 
                            p NCBS Colony, Nanganallur,
                            p Tamil Nadu 600061
                            br
                            br
                            br
                            br
                            br
                            br
                            h4 The Rajhan Opticals.
                            p Flat 1/4,nalli apts, Mangesh St, 
                            p T. Nagar, Chennai, 
                            p Tamil Nadu 600017
                            br
                            br
                            br
                            br
                            br
                            h4 The Rajhan Opticals.
                            p 137, G-4, paramount road,  Chennai,
                            p velachery main road,
                            p Velachery,
                            p Tamil Nadu 600042
                            br



                .col-sm-4
                    .contact-info
                        //- h2.title.text-center Working Hours
                        img.location(src="/img/time.png", alt="")
                        address
                            h4 Ashok Nagar Branch
                            p Sun : 10.30am - 2.00pm, 4.00pm - 8.00pm
                            p Mon : 10am - 9.30pm
                            p Tue : 10am - 9.30pm
                            p Wed : 10am - 9.30pm
                            p Thurs : 10am - 9.30pm
                            p Fri : 10am - 9.30pm
                            p Sat : 10am - 9.30pm
                            br
                            h4 Manthope Branch
                            p Sun : 9am - 9pm
                            p Mon : 10am - 9.00pm
                            p Tue : 10am - 9.00pm
                            p Wed : 10am - 9.00pm
                            p Thurs : 10am - 9.00pm
                            p Fri : 10am - 9.00pm
                            p Sat : 10am - 9.00pm
                            br
                            h4 Nanganallore Branch
                            p Sun : 9.30am - 9.30pm
                            p Mon : 9.30am - 9.30pm
                            p Tue : 9.30am - 9.30pm
                            p Wed : 9.30am - 9.30pm
                            p Thurs : 9.30am - 9.30pm
                            p Fri : 9.30 am - 9.30pm
                            p Sat : 9.30am - 9.30pm
                            br
                            h4 T Nagar Branch
                            p Sun : Leave
                            p Mon : 10.00am - 8.30pm
                            p Tue : 10.00am - 8.30pm
                            p Wed : 10.00am - 8.30pm
                            p Thurs :10.00am - 8.30pm
                            p Fri : 10.00 am - 8.30pm
                            p Sat : 10.00am - 8.30pm
                            br
                            h4 Velachery Branch
                            p Sun : 9.30am - 9.30pm
                            p Mon : 9.30am - 9.30pm
                            p Tue : 9.30am - 9.30pm
                            p Wed : 9.30am - 9.30pm
                            p Thurs : 9.30am -9.30pm
                            p Fri : 9.30 am - 9.30pm
                            p Sat : 9.30am - 9.30pm
                            br



                .col-sm-4
                    .contact-info
                        //- h2.title.text-center Contact Info
                        img.location(src="/img/phone.png", alt="")
 
                        Phone
                            h4 Ashok Nagar Branch                           
                            p Mobile: 044 4203 3044
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            
                            h4 Manthope Branch                           
                            p Mobile: 044 2489 1521
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            
                            

                            h4 Nanganallore Branch                           
                            p Mobile: 091593 12726
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            

                            h4  T Nagar Branch                           
                            p Mobile: 044 4202 9316
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            

                            h4 Velacherry Branch                           
                            p Mobile: 094225 90437
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            


                      